html, body {
    min-height: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-top: 56px;
}

h1 {
    font-size: 30px;
    color: #2c3e50;
}

h1 + p {
    color: #34495e;
    margin-bottom: 0;
}

h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

strong {
    font-weight: 900;
}

a.link, 
a.link:hover, 
a.link:active, 
a.link:visited {
    text-decoration: none;
    color: inherit;
}

a.link {
    position: relative;
}

a.link:before {
    display: block;
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 4;
    border-bottom: 1px dashed;
}

.navbar {
    background: #fff;
}

.navbar .navbar-toggler {
    border: 0;
    outline: none;
}

.navbar-expand-lg .navbar-nav {
    padding-left: 12px;
}

.section {
    position: relative;
    padding: 100px 0;
    min-height: 100%;
}

.section#start {
    min-height: auto;
}

.highlight {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 20px;
    border-left: 2px solid #2ecc71;
}

.section#skills {
    background: #9b59b6;
}

.section#skills h2 {
    color: #fff;
}

.skill {
    position: relative;
    padding: 20px;
    padding-left: 70px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
}

.skill .title {
    font-size: 16px;
    height: 60px;
    max-height: 60px;
    overflow: hidden;
}

.skill .icon {
    position: absolute;
    font-size: 40px;
    top: 20px;
    left: 20px;
}

.skill .fa-star {
    color: #f1c40f;
}

.skill .fab.fa-php {
    font-size: 35px;
}

.timeline {
    padding-top: 20px;
    padding-left: 28px;
}

.timeline .checkpoint {
    position: relative;
    padding: 20px;
    color: #333;
    font-size: 14px;
    border: 2px solid #9b59b6;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.timeline .checkpoint a.link {
    color: #9b59b6
}

.timeline .checkpoint:before { 
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: -28px;
    width: 20px;
    height: 20px;
    background: #9b59b6;
    border-radius: 50%;
    z-index: 3;
}

.timeline .checkpoint:after {
    content: " ";
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    border: 2px solid #ecf0f1;
    border-radius: 10px
}

.section#contato {
    background: #34495e;
    color: #fff;
}

.section#contato .info {
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    color: #34495e;
}

.section#contato .info > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section#contato .info .fab,
.section#contato .info .far {
    margin-right: 10px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        padding-left: 0;
    }
}